html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    min-width: 320px;
    margin: 0;
    padding: 0;
    color: #333;
    font-family: 'Roboto-Light', sans-serif;
    font-size: 18px;
}

@font-face {
    font-family: 'Roboto-Light';
    src: url("assets/fonts/Roboto-Light.ttf");
}

.header {
    background-color: #333;
}

.main {
    margin-bottom: auto;
}

.footer {
    background-color: #333;
}

.container {
    max-width: 1100px;
    padding: 0 20px;
    margin: 0 auto;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
}

.section {
    width: 50%;
}

@media (max-width: 768px) {
    .section {
        width: 100%;
    }
    .section-profile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.section-title {
    text-transform: uppercase;
}

.nav-list {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.nav-link {
    padding: 0 20px;
    line-height: 50px;
    color: white;
    text-decoration-line: none;
    transition: 0.5s;

}

.nav-link:hover {
    text-decoration: underline;
}

.nav-item {
    text-transform: uppercase;
}

.cv-foto {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.484);
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.rss {
    width: 121px;
    height: 45px;
    background-image: url(https://rs.school/images/rs_school_js.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.div-footer {
    display: flex;
    align-items: center;
    color: white;
}

.link-github-footer {
    color: white;
}

.github-image {
    width: 45px;
    height: 45px;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.links-projects {
    color: #333;
}

.pre {
    font-size: 16px;
}