html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    color: #333;
    font-family: 'Roboto-Light', sans-serif;
    src: url("assets/fonts/Roboto-Light.ttf");
    
}

.header {
    border: 1px solid red;
}

.main {
    border: 1px solid red;
}

.footer {
    border: 1px solid red;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
}

.section {
    width: 50%;
}

@media (max-width: 768px) {
    .section {
        width: 100%;
    }
}

.section-title {
    text-transform: uppercase;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.nav-link {
    padding: 0 20px;
    line-height: 50px;
    color: darkslategrey;
    text-decoration-line: none;
    transition: 0.5s;

}

.nav-link:hover {
    text-decoration: underline;
}

.nav-item {
    text-transform: uppercase;
}
.cv-foto {
    width: 200px;
    height: 200px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.rss {
    width: 121px;
    height: 45px;
    background-image: url(https://rs.school/images/rs_school_js.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.div-footer {
    display: flex;
    align-items: center;
}
