* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto-Light', sans-serif;
    src: url("assets/fonts/Roboto-Light.ttf");
}

.header {
    border: 1px solid red;
}

.main {
    border: 1px solid red;
}

.footer {
    border: 1px solid red;
}